<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.simplejavamail" level="TRACE"/>
    <!-- in case you're using authenticated proxy -->
    <logger name="socks5bridge" level="INFO" additivity="false">
        <appender-ref ref="simpleConsole" />
    </logger>
    <logger name="org.simplejavamail.internal.authenticatedsockssupport" level="WARN"/>
    <logger name="io.micronaut.http.client" level="ERROR"/>
    <logger name="com.budgeteer.api.receipts.gcp.BasicCloudVisionReceiptParser" level="ERROR" />


    <root level="ERROR">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
